<div class="container">
    <div class="nav-header">
        <p-menubar>
            <ng-template pTemplate="start">
                <div class="header" routerLink="/">
                    <label><i class="pi pi-circle-on" style="color: var(--primary-color); font-size: 1.3rem;"></i> Credit</label>
                </div>
            </ng-template>

            <ng-template pTemplate="end">
                <div class="row">
                    <button pButton (click)="toggleRequestDialog()" label="Request Funds" class="p-button-sucess" icon="pi pi-chevron-circle-right" iconPos="right"></button>
                </div>
            </ng-template>
        </p-menubar>

        <div class="row-between">
            <div class="header">Requests</div>
            <div class="row-end">
                <button pButton routerLink="debit" label="Debit" class="p-button-success p-button-outlined" icon="pi pi-minus-circle" iconPos="right"></button>
                <button pButton routerLink="credit" label="Credit" class="p-button-info p-button-outlined" icon="pi pi-plus-circle" iconPos="right"></button>
            </div>
        </div>
    </div>
    
    <div class="bids">
        <div class="bid" *ngFor="let request of requests">
            <p-card *ngIf="request.active">
                <ng-template pTemplate="header">
                    <div class="row-between">
                        <div class="title">{{request.owner}}</div>
                        <div class="status">
                            <div style="font-size: small; font-style: italic;">
                                <span>approved </span>
                                <i *ngIf="request.approved" class="pi pi-check" style="color: var(--green-500); font-size: small;"></i>
                                <i *ngIf="!request.approved" class="pi pi-times" style="color: var(--red-500); font-size: small;"></i>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <div class="content" style="font-size: 0.9rem; font-weight: 500;">
                    <div class="row-between">
                        <label>Requested</label>
                        <i>{{request.requestedAmount}} {{currency}}</i>
                    </div>
                    <hr>
                    <div class="row-between">
                        <label>Funded</label>
                        <i>{{request.loanedAmount}} {{currency}}</i>
                    </div>
                    <hr>
                    <div class="row-between">
                        <label>Short</label>
                        <i>{{request.requestedAmount - request.loanedAmount}} {{currency}}</i>
                    </div>
                    <hr>
                    <div class="row-between">
                        <label>Bids</label>
                        <div class="bid-action" (click)="request.bids.length > 0 ? op.toggle($event) : null">
                            <i>{{request.bids.length}} Bids</i>
                            <span class="pi pi-angle-right"></span>
                        </div>
                    </div>
                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <p-table [value]="request.bids">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Bid ({{currency}})</th>
                                        <th>Interest (%)</th>
                                        <th>Repayment ({{currency}})</th>
                                        <th style="text-align: center;" *ngIf="request.ownerAddress == address">Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-bid>
                                    <tr>
                                        <td style="text-align: end;">{{bid.bidAmount}}</td>
                                        <td style="text-align: end;">{{bid.interestRate}}</td>
                                        <td style="text-align: end;">{{bid.repaymentAmount}}</td>
                                        <td style="text-align: center;" *ngIf="request.ownerAddress == address">
                                            <div class="bid-status">
                                                <button pButton style="width: 100%;" (click)="rejectBid(request.uuid, bid.uuid, bid.bidAmount, bid.interestRate)" pTooltip="reject" tooltipPosition="bottom" class="p-button-outlined p-button-danger p-button-sm" icon="pi pi-times" *ngIf="!bid.rejected && !bid.accepted"></button>
                                                <button pButton style="width: 100%;" (click)="acceptBid(request.uuid, bid.uuid, bid.bidAmount, bid.interestRate)" pTooltip="accept" tooltipPosition="bottom" class="p-button-outlined p-button-success p-button-sm" icon="pi pi-check" *ngIf="!bid.rejected && !bid.accepted"></button>
                                            </div>
                                            <button pButton *ngIf="bid.accepted" label="Accepted" class="p-button-sm p-button-outlined p-button-success" iconPos="right" icon="pi pi-check"></button>
                                            <button pButton *ngIf="bid.rejected" label="Rejected" class="p-button-sm p-button-outlined p-button-danger" iconPos="right" icon="pi pi-times"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-overlayPanel>
                    
                </div>

                <ng-template pTemplate="footer">
                    <div class="row-end">
                        <div class="p-inputgroup txt">
                            <input type="number" value="0" #interest pInputText placeholder="Interest">
                            <span class="p-inputgroup-addon"><i class="pi pi-percentage"></i></span>
                        </div>

                        <div class="p-inputgroup txt">
                            <input type="number" value="0" #amount pInputText placeholder="Amount">
                            <span class="p-inputgroup-addon">{{currency}}</span>
                        </div>
                        
                        <button pButton [disabled]="!(+amount.value > 0) || !(+interest.value > 0)" (click)="bid(request.uuid, amount.value, interest.value)" label="Bid" class="p-button-success p-button-outlined btn" icon="pi pi-arrow-circle-right" iconPos="right"></button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>

<p-confirmDialog #cd [breakpoints]="{'960px': '60vw', '640px': '90vw'}" [style]="{width: '40vw'}">
    <ng-template pTemplate="footer">
        <button type="button" class="p-button-secondary" pButton icon="pi pi-check" iconPos="right" label="Confirm" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<p-dialog header="Request Funds" [(visible)]="showRequestDialog" [modal]="true" [breakpoints]="{'960px': '60vw', '640px': '70vw', '480px': '90vw'}" [style]="{width: '40vw'}">
    <div class="request">
        <div class="p-inputgroup txt">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" #owner pInputText placeholder="Owner">
        </div>

        <div class="p-inputgroup txt">
            <span class="p-inputgroup-addon"><i class="pi pi-check-circle"></i></span>
            <input type="text" #approver pInputText placeholder="Approver Address">
        </div>

        <div class="p-inputgroup txt">
            <span class="p-inputgroup-addon"><i class="pi pi-money-bill"></i></span>
            <input type="number" #loan pInputText placeholder="Loan Amount">
            <span class="p-inputgroup-addon">{{currency}}</span>
        </div>

        <p-fileUpload name="myfile[]" url="../../" [multiple]="true" accept="image/*" [maxFileSize]="1000000">
            <ng-template pTemplate="toolbar">
                <div>Upload 3 Files</div>
            </ng-template>

            <ng-template pTemplate="content" let-files>
                <div>Additional content.</div>
            </ng-template>
        </p-fileUpload>
    </div>
    <ng-template pTemplate="footer">
        <button pButton (click)="requestFunds(owner.value, approver.value, loan.value)" class="p-button-success" label="Request" icon="pi pi-send" iconPos="right"></button>
    </ng-template>
</p-dialog>