<div class="container">
    <div class="nav-header">
        <p-menubar>
            <ng-template pTemplate="start">
                <div class="header" routerLink="/">
                    <label><i class="pi pi-circle-on" style="color: var(--primary-color); font-size: 1.3rem;"></i> Credit</label>
                </div>
            </ng-template>

            <ng-template pTemplate="end">
                <div class="row">
                    <button pButton (click)="toggleRequestDialog()" label="Request Funds" class="p-button-sucess" icon="pi pi-chevron-circle-right" iconPos="right"></button>
                </div>
            </ng-template>
        </p-menubar>

        <div class="row-between">
            <div class="header">Requests</div>
            
            <div class="row-end">
                <button pButton (click)="toggleManageDialog()" label="Manage" class="p-button-warning p-button-outlined p-button-raised" icon="pi pi-cog" iconPos="right"></button>
            </div>
        </div>
    </div>
    
    <div class="bids">
        <div class="bid" *ngFor="let loan of loans">
            <p-card *ngIf="loan.active">
                <ng-template pTemplate="header">
                    <div class="row-between">
                        <div class="title">{{loan.owner}}</div>

                        <div class="status">
                            <div style="font-size: small; font-style: italic;">
                                <span>approved </span>
                                <i *ngIf="loan.approved" class="pi pi-check" style="color: var(--green-500); font-size: small;"></i>
                                <i *ngIf="!loan.approved" class="pi pi-times" style="color: var(--red-500); font-size: small;"></i>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <div class="content" style="font-size: 0.9rem; font-weight: 500;">
                    <div class="row-between">
                        <label>Requested</label>
                        <i>{{loan.requestedAmount}} {{currency}}</i>
                    </div>

                    <hr>

                    <div class="row-between">
                        <label>Funded</label>
                        <i>{{loan.loanedAmount}} {{currency}}</i>
                    </div>

                    <hr>

                    <div class="row-between">
                        <label>Short</label>
                        <i>{{loan.requestedAmount - loan.loanedAmount}} {{currency}}</i>
                    </div>

                    <hr>

                    <div class="row-between">
                        <label>Bids</label>

                        <div class="bid-action" (click)="loan.bids.length > 0 ? op.toggle($event) : null">
                            <i>{{loan.bids.length}} Bids</i>
                            <span class="pi pi-angle-right"></span>
                        </div>
                    </div>

                    <div style="margin-top: 10px;">
                        <p-panel header="Documents" [toggleable]="true" [collapsed]="true" expandIcon="pi pi-chevron-down" collapseIcon="pi pi-chevron-up">
                            <div class="row-between" *ngFor="let doc of loan.documents">
                                <label style="margin-top: 5px;">{{doc.name}}</label>
                                <button pButton (click)="downloadFile(doc.cid)" class="p-button-info p-button-text p-button-sm" pTooltip="download" icon="pi pi-download" iconPos="right"></button>
                            </div>
                        </p-panel>
                    </div>

                    <p-overlayPanel #op>
                        <ng-template pTemplate>
                            <p-table [value]="loan.bids">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Bid ({{currency}})</th>
                                        <th>Interest (%)</th>
                                        <th>Repayment ({{currency}})</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-bid>
                                    <tr>
                                        <td style="text-align: end;">{{bid.bidAmount}}</td>
                                        <td style="text-align: end;">{{bid.interestRate}}</td>
                                        <td style="text-align: end;">{{bid.repaymentAmount}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-overlayPanel>
                    
                </div>

                <ng-template pTemplate="footer">
                    <div class="row-end">
                        <div class="p-inputgroup txt">
                            <input type="number" value="0" #interest pInputText placeholder="Interest">
                            <span class="p-inputgroup-addon"><i class="pi pi-percentage"></i></span>
                        </div>

                        <div class="p-inputgroup txt">
                            <input type="number" value="0" #amount pInputText placeholder="Amount">
                            <span class="p-inputgroup-addon">{{currency}}</span>
                        </div>
                        
                        <button pButton [disabled]="!(+amount.value > 0) || !(+interest.value > 0)" (click)="bid(loan.uuid, amount.value, interest.value)" label="Bid" class="p-button-success p-button-outlined btn" icon="pi pi-arrow-circle-right" iconPos="right"></button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>

<p-confirmDialog #cd [breakpoints]="{'960px': '50vw', '640px': '60vw', '480px': '90vw'}" [style]="{width: '40vw'}">
    <ng-template pTemplate="footer">
        <button type="button" class="p-button-secondary" pButton icon="pi pi-check" iconPos="right" label="Confirm" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<p-dialog header="Request Funds" [(visible)]="showRequestDialog" [modal]="true" [breakpoints]="{'960px': '50vw', '640px': '60vw', '480px': '90vw'}" [style]="{width: '40vw'}">
    <div class="request">
        <div class="p-inputgroup txt">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" #owner pInputText placeholder="Owner">
        </div>

        <div class="p-inputgroup txt">
            <span class="p-inputgroup-addon"><i class="pi pi-check-circle"></i></span>
            <input type="text" #approver pInputText placeholder="Approver Address">
        </div>

        <div class="p-inputgroup txt">
            <span class="p-inputgroup-addon"><i class="pi pi-money-bill"></i></span>
            <input type="number" #loan pInputText placeholder="Loan Amount">
            <span class="p-inputgroup-addon">{{currency}}</span>
        </div>

        <p-fileUpload 
            [name]="files"
            chooseIcon="pi pi-file"
            chooseStyleClass="p-button-info p-button-sm"
            chooseLabel="Select File"
            [multiple]="false"
            [customUpload]="true"
            (uploadHandler)="uploadFiles($event)"
            [maxFileSize]="5000000"
            [auto]="true"
            accept=".pdf, image/*">
            <ng-template let-file pTemplate="file">
                <div class="row-between">
                    <label *ngIf="file.type == 'application/pdf'" style="margin-top: 5px;"><i class="pi pi-file-pdf"></i> {{file.name}}</label>
                    <label *ngIf="!(file.type == 'application/pdf')" style="margin-top: 5px;"><i class="pi pi-image"></i> {{file.name}}</label>
                    <label style="margin-top: 5px;">{{file.size / 1000}} KB</label>
                    <button pButton class="p-button-danger p-button-text p-button-sm" icon="pi pi-trash"></button>
                </div>
                <hr>
            </ng-template>
        </p-fileUpload>
    </div>
    <ng-template pTemplate="footer">
        <button pButton (click)="requestFunds(owner.value, approver.value, loan.value)" class="p-button-success" label="Request" icon="pi pi-send" iconPos="right"></button>
    </ng-template>
</p-dialog>

<p-dialog header="Manage Loans" [(visible)]="showManageDialog" [maximizable]="true" [modal]="true" [closable]="true" [breakpoints]="{'960px': '60vw', '640px': '70vw', '480px': '90vw'}" [style]="{'width': '50vw'}">
    <p-tabView>
        <p-tabPanel [headerStyle]="{'width':'100%'}">
           <ng-template pTemplate="header">
                <div class="tab-panel">
                    <div>Loans</div>
                    <i class="pi pi-arrow-up-right"></i>
                </div>
           </ng-template>
            
           <p-card *ngIf="!hasLoan()">
                <div class="row-center">
                    <div class="no-content">
                        You Do Not Have Any Loans Yet!
                    </div>
                </div>
           </p-card>

            <div *ngIf="hasLoan()">
                <div *ngFor="let loan of loans">
                    <div *ngIf="loan.ownerAddress == address">
                        <p-panel [header]="loan.owner" [toggleable]="true" [collapsed]="true" expandIcon="pi pi-chevron-down" collapseIcon="pi pi-chevron-up">
                            <ng-template pTemplate="icons">
                                <i><button pButton *ngIf="loan.approved" class="p-button-sm p-button-text p-button-success" label="approved" icon="pi pi-check" iconPos="right"></button></i>
                                <i><button pButton *ngIf="!loan.approved" class="p-button-sm p-button-text p-button-danger" label="approved" icon="pi pi-times" iconPos="right"></button></i>
                            </ng-template>

                            <div class="row-between">
                                <label>Amount Requested</label>
                                <label>{{loan.requestedAmount}} {{currency}}</label>
                            </div>

                            <div class="row-between">
                                <label>Amount Loaned</label>
                                <label>{{loan.loanedAmount}} {{currency}}</label>
                            </div>

                            <div class="row-between">
                                <label>Repaid</label>
                                <label>{{loan.paidAmount}} {{currency}}</label>
                            </div>

                            <div class="row-between">
                                <label>Owing</label>
                                <label>{{loan.repaymentAmount - loan.paidAmount}} {{currency}}</label>
                            </div>

                            <hr>

                            <div class="row-between" style="margin-bottom: 5px;" *ngFor="let bid of loan.bids">
                                <label style="margin-top: 5px;">{{bid.bidAmount}} {{currency}} @ {{bid.interestRate}} %</label>

                                <div class="row" *ngIf="!(bid.rejected || bid.accepted)">
                                    <button pButton (click)="rejectBid(loan.uuid, bid.uuid)" class="p-button-danger p-button-text p-button-sm" pTooltip="reject" icon="pi pi-times"></button>
                                    <button pButton (click)="acceptBid(loan.uuid, bid.uuid)" class="p-button-success p-button-text p-button-sm" pTooltip="accept" icon="pi pi-check"></button>
                                </div>

                                <div class="row" *ngIf="bid.rejected">
                                    <button pButton class="p-button-danger p-button-text p-button-sm" label="rejected" icon="pi pi-times" iconPos="right" [disabled]="true"></button>
                                </div>

                                <div class="row" *ngIf="bid.repaid">
                                    <button pButton class="p-button-info p-button-text p-button-sm" label="repaid" icon="pi pi-check" iconPos="right" [disabled]="true"></button>
                                </div>

                                <div class="row" *ngIf="bid.accepted && !bid.repaid">
                                    <button pButton (click)="repayBid(loan.uuid, bid.uuid, bid.repaymentAmount)" label="{{bid.repaymentAmount}} {{currency}}" class="p-button-success p-button-sm p-button-outlined" pTooltip="repay" icon="pi pi-check" iconPos="right"></button>
                                </div>
                            </div>
                        </p-panel>
                    </div>
                </div>
            </div>
        </p-tabPanel>

        <p-tabPanel [headerStyle]="{'width':'100%'}">
            <ng-template pTemplate="header">
                <div class="tab-panel">
                    <div>Bids</div>
                    <i class="pi pi-arrow-down-left"></i>
                </div>
           </ng-template>
           
           <p-card *ngIf="!hasBid()">
                <div class="row-center">
                    <div class="no-content">
                        You Have Not Made Any Bids Yet!
                    </div>
                </div>
           </p-card>

            <div *ngIf="hasBid()">
                <div *ngFor="let loan of loans">
                    <div *ngFor="let bid of loan.bids" style="margin-bottom: 5px;">
                        <div *ngIf="bid.ownerAddress == address">
                            <p-panel [header]="loan.owner" [toggleable]="true" [collapsed]="true" expandIcon="pi pi-chevron-down" collapseIcon="pi pi-chevron-up">
                                <ng-template pTemplate="icons">
                                    <button pButton *ngIf="(!bid.accepted && !bid.rejected)" class="p-button-sm p-button-text p-button-warning" label="pending" icon="pi pi-minus-circle" iconPos="right"></button>
                                    <button pButton *ngIf="(bid.accepted && !bid.repaid)" class="p-button-sm p-button-text p-button-info" label="active" icon="pi pi-exclamation-circle" iconPos="right"></button>
                                    <button pButton *ngIf="(bid.accepted && bid.repaid)" class="p-button-sm p-button-text p-button-success" label="repaid" icon="pi pi-check" iconPos="right"></button>
                                    <button pButton *ngIf="(bid.rejected)" class="p-button-sm p-button-text p-button-danger" label="rejected" icon="pi pi-times" iconPos="right"></button>
                                </ng-template>
    
                                <div class="row-between">
                                    <label>Requested</label>
                                    <label>{{loan.requestedAmount}} {{currency}}</label>
                                </div>
    
                                <div class="row-between">
                                    <label>Bid</label>
                                    <label>{{bid.bidAmount}} {{currency}}</label>
                                </div>
    
                                <div class="row-between">
                                    <label>Owed</label>
                                    <label>{{bid.repaymentAmount}} {{currency}}</label>
                                </div>
    
                                <div class="row-between">
                                    <label>Repaid</label>
                                    <label>{{bid.paidAmount}} {{currency}}</label>
                                </div>
    
                                <hr>
    
                                <div class="row-between" style="margin-bottom: 5px;" *ngFor="let doc of loan.documents">
                                    <label>{{doc.name}}</label>
                                    <button pButton (click)="downloadFile(doc.cid)" class="p-button-info p-button-text p-button-sm" icon="pi pi-download"></button>
                                </div>
                            </p-panel>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>

        <p-tabPanel [headerStyle]="{'width':'100%'}">
            <ng-template pTemplate="header">
                <div class="tab-panel">
                    <div>Approve</div>
                    <i class="pi pi-check-square"></i>
                </div>
           </ng-template>

           <p-card *ngIf="!hasLoanApprove()">
                <div class="row-center">
                    <div class="no-content">
                        No Loans To Approve!
                    </div>
                </div>
           </p-card>

            <div *ngIf="hasLoanApprove()">
                <div *ngFor="let loan of loans" style="margin-bottom: 5px;">
                    <div *ngIf="loan.approverAddress == address">
                        <p-panel [header]="loan.owner" [toggleable]="true" [collapsed]="true" expandIcon="pi pi-chevron-down" collapseIcon="pi pi-chevron-up">
                            <ng-template pTemplate="icons">
                                <i><button pButton *ngIf="loan.approved" class="p-button-sm p-button-text p-button-success" label="approved" icon="pi pi-check" iconPos="right"></button></i>
                                <i><button pButton *ngIf="!loan.approved" class="p-button-sm p-button-text p-button-danger" label="approved" icon="pi pi-times" iconPos="right"></button></i>
                            </ng-template>

                            <div class="row-between">
                                <label>Amount</label>
                                <label>{{loan.requestedAmount}} {{currency}}</label>
                            </div>

                            <hr>

                            <div class="row-between" style="margin-bottom: 5px;" *ngFor="let doc of loan.documents">
                                <label>{{doc.name}}</label>
                                <button pButton (click)="downloadFile(doc.cid)" class="p-button-info p-button-text p-button-sm" icon="pi pi-download"></button>
                            </div>

                            <ng-template pTemplate="footer">
                                <div class="row-end">
                                    <button pButton (click)="approveLoan(loan.uuid)" label="Approve" class="p-button-success p-button-sm p-button-outlined" icon="pi pi-check" iconPos="right" [disabled]="loan.approved"></button>
                                </div>
                            </ng-template>
                        </p-panel>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</p-dialog>

<p-dialog header="Repay Bid" [(visible)]="showRepayDialog" [modal]="true" [breakpoints]="{'960px': '40vw', '640px': '50vw', '480px': '90vw'}" [style]="{'width': '30vw'}">

</p-dialog>